@font-face {
  font-family: 'Yandex Sans';
  src: url('/fonts/YandexSansText-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Yandex Sans';
  src: url('/fonts/YandexSansText-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Yandex Sans';
  src: url('/fonts/YandexSansText-Bold.woff2') format('woff2');
  font-weight: 700;
}

/* Сброс */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #F6F5FA;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Yandex Sans', sans-serif;
}



.btnLogin {
  background-color: #1F1D1D;
  color: #FDFDFD;
  width: 68px;
  height: 33px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

/* MAIN WRAPPER */
.chatWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

/* CHAT AREA */
.chatContainer {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* Preview */
.chatPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  color: #666;
  font-size: 16px;
}

.previewIcon {
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}

.chatPreview h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 293px;
}

/* INPUT AREA */
.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #f0f0f0;
  margin: 16px;
}

.inputField {
  flex: 1;
  min-height: 36px;
  max-height: 110px;
  padding: 8px 0;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  resize: none;
  overflow-y: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.inputField::-webkit-scrollbar {
  display: none;
}

.inactive {
  color: #999;
}

.inactive::placeholder {
  color: #999;
}

/* BUTTON GROUP */
.btnGroup {
  display: flex;
  gap: 8px;
}

.clearBtn,
.sendBtn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.clearBtn {
  display: none; /* как в макете */
}

.clearBtn img,
.sendBtn img {
  width: 40px;
  height: 40px;
  display: block;
}

.sendBtn {
  background: #e0e0e0;
}

.active {
  background: #8D4AFC !important;
}

.sendBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
