.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: white;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}

/* ЛЕВАЯ ЧАСТЬ */
.left {
  display: flex;
  align-items: center;
  gap: 28px;
}

/* ПРАВАЯ ЧАСТЬ */
.right {
  display: flex;
  align-items: center;
  gap: 28px;
}

/* ЛОГО */
.logo {
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 8px;
}

/* ССЫЛКИ */
.link {
  color: #111;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: #7c4dff;
}

/* КНОПКА "Выйти" */
.linkButton {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #111;
}

.linkButton:hover {
  color: #7c4dff;
}
