

.forma_container {
  display: flex;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 8px;
}

.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 10px 0;
  gap: 6px;
}

.container_task {
  flex-direction: column;
  justify-content: center;
}

.title_create {
  margin: 4px;
}
